body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: rgb(58, 112, 148);
}

.inicio{
	display: flex;
	height: 100vh;
}
.foto {
	flex: 1;
	background-color: rgb(255, 252, 252);
	display: flex;
	align-items: center;
	justify-content: center;
}

.foto img {
	width: 270px;
	height: auto;
	border-radius: 8px;
} 